<p id="notice"><%= notice %></p>

<p>
  <b>Amtaid:</b>
  <%= @team.amtaid %>
</p>

<p>
  <b>School:</b>
  <%= @team.school %>
</p>

<p>
  <b>Teamabcd:</b>
  <%= @team.teamabcd %>
</p>

<p>
  <b>Contactemail:</b>
  <%= @team.contactemail %>
</p>

<p>
  <b>Contactphone:</b>
  <%= @team.contactphone %>
</p>
<p>
    <b>Competitors</b>
        <table>
          <tr>
            <th>Name</th>
            <th>Contactemail</th>
            <th>Contactphone</th>
            <th>Team ID</th>
            <th>Team Name</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
    <% #FIXME use a partial to render these, later %>
        <% @team.competitors.each do |competitor| %>
          <tr>
            <td><%= competitor.name %></td>
            <td><%= competitor.contactemail %></td>
            <td><%= competitor.contactphone %></td>
            <td><%= competitor.team_id %></td>
            <% begin %>
                <% @team = Team.find(competitor.team_id) %>
                <td><%= @team.school + " " + @team.teamabcd %></td>
            <% rescue %>
                <%= puts "error" %>
            <% end %>
            <td><%= link_to 'Show', competitor %></td>
            <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
            <td><%= link_to 'Destroy', competitor, :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
        </table>

        

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
