<p id="notice"><%= notice %></p>

<h1><%= @team.school %> <%= @team.teamabcd %> </h1>
<br />
<p>
  <span class="identifier" id="id"><strong>AMTA Team Number:</strong></span>
  <%= @team.amtaid %>
</p>

<p>
  <span class="identifier" id="email"><strong>Contact Email:</strong></span>
  <%= @team.contactemail %>
</p>

<p>
  <span class="identifier" id="phone"><strong>Contact Phone:</strong></span>
  <%= @team.contactphone %>
</p>
<p>
  <span class="identifier" id="upcoming_tournaments"><strong>Upcoming Tournaments:</strong></span>
  </p>
  <p>
  <% @tournaments = @team.tournaments %>
  <% @tournaments.each do |tournament| %>
    <% if tournament.start_date >= Date.today #TODO: make this actually aware of dates.%> 
      
      <%= link_to (tournament) do %>
        <%= tournament.title%>
      <% end %>
        &nbsp;on <%= tournament.start_date.inspect %>
      
    <% end %>
  <% end %>
  
  <%= form_tag(:controller => "teams", :action => "addToTournament", :method => "post") do %>
  <div class="field">
    <%= label_tag :tournament_id, "Add to a tournament" %>
    
    <% tournament_select = [['','']] %>
    <% Tournament.all.each do |t| %>
    <% tournament_select << [t.title, t.id] %>
    <% end %>
    <%= select_tag(:tournament_id, options_for_select(tournament_select)) %>
  </div>
  <div><%= submit_tag 'Save' %></div>
<% end %>
  
</p>
<br />
<p>
    <span class="identifier" id="competitors"><strong>Competitors:</strong></span>
        <table cellpadding="10px">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Team Name</th>
            
          </tr>
    <% #FIXME use a partial to render these, later %>
        <% @team.competitors.each do |competitor| %>
          <tr>
            <td><%= link_to (competitor) do %>
              <strong><%= competitor.name %></strong>
              <%  end 
              %>
              <br />
              <%= link_to 'Edit', edit_competitor_path(competitor) %> | <%= link_to 'Remove', competitor, :confirm => 'Are you sure?', :method => :delete %>
            </td>
            <td><%= competitor.contactemail %></td>
            <td><%= competitor.contactphone %></td>
            <% begin %>
                <% @team = Team.find(competitor.team_id) %>
                <td><%= @team.school + " " + @team.teamabcd %></td>
            <% rescue %>
                <%= puts "error" %>
            <% end %>
            <td></td>
            
          </tr>
        <% end %>
        <tr>
            <td id="new_competitor"><%= link_to 'New Competitor', new_competitor_path( :team_id => @team.id), :class => "btn" %></td>
            <td id="new_team"><%= link_to 'New Team', new_team_path, :class => "btn" %></td>
        </tr>
        </table>
</p>
<p>
  <span class="identifier" id="past_tournaments">Past Tournaments:</span>
  <% @team.tournament_ids.each do |id| %>
    <% @tournament = Tournament.find(id) %>
    <% if @tournament.start_date < Date.today #TODO: make this actually aware of dates.%> 
      <li>
      <%= link_to (@tournament) do %>
        <%= @tournament.title %>
      <% end %>
        on <%= @tournament.start_date.inspect %>
      </li>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
