<h1>Editing amta_ballot</h1>

<% pairing = Pairing.find(params[:pairing_id]) %>
<h3>for <b><%= link_to pairing.affs.first.school + " " + pairing.affs.first.teamabcd, pairing.affs.first.team %></b> vs. 
        <b><%= link_to pairing.negs.first.school + " " + pairing.negs.first.teamabcd, pairing.negs.first.team %></b><br />
        <b><%= link_to pairing.round.tournament.title, pairing.round.tournament %> <%= link_to"Round " + pairing.round.index.to_s, [pairing.round.tournament, pairing.round] %></b></h3>

<span id="p_amtaid"><%= pairing.affs.first.amtaid %></span> <span id="d_amtaid"><%= pairing.negs.first.amtaid %></span>
<%= render 'form' %>


<%= link_to 'Show', tournament_round_pairing_amta_ballot_path(pairing.round.tournament, pairing.round, pairing, @amta_ballot) %> | |
<%= link_to 'Back', tournament_round_pairing_path(@amta_ballot.pairing.round.tournament, @amta_ballot.pairing.round, @amta_ballot.pairing) %>

