<p>
  <b>Round:</b>
  <%= @amta_ballot.pairing.round_id %>
</p>

<p>
  <b>P open:</b>
  <%= @amta_ballot.p_open %>
</p>

<p>
  <b>D open:</b>
  <%= @amta_ballot.d_open %>
</p>

<p>
  <b>P witness 1:</b>
  <%= @amta_ballot.p_witness_1 %>
</p>

<p>
  <b>P dx 1:</b>
  <%= @amta_ballot.p_dx_1 %>
</p>

<p>
  <b>D cx 1:</b>
  <%= @amta_ballot.d_cx_1 %>
</p>

<p>
  <b>P witness 2:</b>
  <%= @amta_ballot.p_witness_2 %>
</p>

<p>
  <b>P dx 2:</b>
  <%= @amta_ballot.p_dx_2 %>
</p>

<p>
  <b>D cx 2:</b>
  <%= @amta_ballot.d_cx_2 %>
</p>

<p>
  <b>P witness 3:</b>
  <%= @amta_ballot.p_witness_3 %>
</p>

<p>
  <b>P dx 3:</b>
  <%= @amta_ballot.p_dx_3 %>
</p>

<p>
  <b>D cx 3:</b>
  <%= @amta_ballot.d_cx_3 %>
</p>

<p>
  <b>D witness 1:</b>
  <%= @amta_ballot.d_witness_1 %>
</p>

<p>
  <b>D dx 1:</b>
  <%= @amta_ballot.d_dx_1 %>
</p>

<p>
  <b>P cx 1:</b>
  <%= @amta_ballot.p_cx_1 %>
</p>

<p>
  <b>D witness 2:</b>
  <%= @amta_ballot.d_witness_2 %>
</p>

<p>
  <b>D dx 2:</b>
  <%= @amta_ballot.d_dx_2 %>
</p>

<p>
  <b>P cx 2:</b>
  <%= @amta_ballot.p_cx_2 %>
</p>

<p>
  <b>D witness 3:</b>
  <%= @amta_ballot.d_witness_3 %>
</p>

<p>
  <b>D dx 3:</b>
  <%= @amta_ballot.d_dx_3 %>
</p>

<p>
  <b>P cx 3:</b>
  <%= @amta_ballot.p_cx_3 %>
</p>

<p>
  <b>P close:</b>
  <%= @amta_ballot.p_close %>
</p>

<p>
  <b>D close:</b>
  <%= @amta_ballot.d_close %>
</p>

<p>
  <b>Atty rank 1:</b>
  <%= @amta_ballot.atty_rank_1 %>
</p>

<p>
  <b>Atty rank 2:</b>
  <%= @amta_ballot.atty_rank_2 %>
</p>

<p>
  <b>Atty rank 3:</b>
  <%= @amta_ballot.atty_rank_3 %>
</p>

<p>
  <b>Atty rank 4:</b>
  <%= @amta_ballot.atty_rank_4 %>
</p>

<p>
  <b>Witness rank 1:</b>
  <%= @amta_ballot.witness_rank_1 %>
</p>

<p>
  <b>Witness rank 2:</b>
  <%= @amta_ballot.witness_rank_2 %>
</p>

<p>
  <b>Witness rank 3:</b>
  <%= @amta_ballot.witness_rank_3 %>
</p>

<p>
  <b>Witness rank 4:</b>
  <%= @amta_ballot.witness_rank_4 %>
</p>


<%= link_to 'Edit', edit_tournament_round_pairing_amta_ballot_path(@amta_ballot.pairing.round.tournament, @amta_ballot.pairing.round, @amta_ballot.pairing, @amta_ballot) %> |
<%= link_to 'Back', tournament_round_pairing_path(@amta_ballot.pairing.round.tournament, @amta_ballot.pairing.round, @amta_ballot.pairing) %>
