<p>
  <b>Name:</b>
  <%= @participant.name %>
</p>

<p>
  <b>Email:</b>
  <%= @participant.email %>
</p>

<p>
  <b>Login:</b>
  <%= @participant.login %>
</p>


<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
