<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br />
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br />
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, :order => [:month, :day, :year] %>
  </div>
  <br />
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, :order => [:month, :day, :year] %>
  </div>
  <br />
  <div class="field">
    <%= f.label :host %>
    <%= f.text_field :host %>
    <span class="example">e.g. Claremont McKenna College</span>
  </div>
  <br />
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
    <span class="example">e.g. Merrill Hall</span>
  </div>
  <br />
  <div class="field">
    <%= label_tag :rooms %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput1" %><span class="example">e.g. 302A</span><br />
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput2", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput3", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput4", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput5", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput6", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput7", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput8", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput9", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput10", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput11", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput12", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput13", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput14", :style => "display: block;" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :type_of_competition %>
    <%= f.select(:type_of_competition, options_for_select([['AMTA', 'AMTA'], ['WTFA', 'WTFA'], ['OMGP', 'OMGP']])) %>
  </div>
  <br />
  <div class="field">
    <%= f.label :num_rounds %>
    <%= f.select(:num_rounds, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],])) %>
  </div>
  <br />
  <div class="field">
    <%= f.label :info %>
    <%= f.text_field :info %>
    <span class="example">All the useful information you can think of! Quick and tasty lunch spots, parking info, any special competitive rules...</span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
