<%= form_for(@tournament) do |f| %>
  <% if @tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% @tournament.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :host %><br />
    <%= f.text_field :host %>
    <span class="example">e.g. Claremont McKenna College</span>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
    <span class="example">e.g. Merrill Hall</span>
  </div>
  <div class="field">
    <%= label_tag :rooms %><br />
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput1" %><span class="example">e.g. 302A</span><br />
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput2", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput3", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput4", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput5", :style => "display: block;" %>
    <%= text_field_tag "rooms[]", "", :class => "clonedInput", :id => "roominput6", :style => "display: block;" %>
  </div>
  <div class="field">
    <%= f.label :type_of_competition %><br />
    <%= f.select(:type_of_competition, options_for_select([['AMTA', 'AMTA'], ['WTFA', 'WTFA'], ['OMGP', 'OMGP']])) %>
  </div>
  <div class="field">
    <%= f.label :num_rounds %><br />
    <%= f.select(:num_rounds, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5],[6,6],[7,7],[8,8],])) %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
    <span class="example">All the useful information you can think of! Quick and tasty lunch spots, parking info, any special competitive rules...</span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
