<h1>Which tournament are you at?</h1>
<br />




<% @tournaments.each do |tournament| %>
   <ul class="nav nav-tabs nav-stacked">
   <li>
    	<%= link_to tournament do %><strong><%= tournament.title %></strong>, <%= tournament.start_date.inspect %>, <%= tournament.location %><% end %>
</li>
<% end %>
      </ul>

<br />

<%= link_to 'New Tournament', new_tournament_path, :class => "btn" %>
