
<h1>Which tournament are you at?</h1>
<br />




 <ul class="nav nav-tabs nav-stacked">
<li><% @tournaments.each do |tournament| %>
  
    	<%= link_to tournament do %><%= tournament.title %>, <%= tournament.start_date.inspect %>, <%= tournament.location %><% end %>
</li>
<% end %>
      </ul>

<br />

<%= link_to 'New Tournament', new_tournament_path, :class => "btn" %>
