
<h1>My tournaments</h1>
<br>
<table cellpadding="10px">
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>Location</th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= link_to tournament do %><%= tournament.title %><% end %></td>
    <td><%= tournament.start_date.inspect %></td>
    <td><%= tournament.location %></td>
    <% if current_user == tournament.user %>
      <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
      <td><%= link_to 'Destroy', tournament, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament', new_tournament_path, :class => "btn" %>
