<%= form_for(@competitor) do |f| %>
  <% if @competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitor.errors.count, "error") %> prohibited this competitor from being saved:</h2>

      <ul>
      <% @competitor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :team_id, "Team" %><br />
    <% team_id = params[:team_id] %>
    <% team_select = [['','']] %>
    <% Team.all.each do |t| %>
    <%    team_select << [t.school + " " + t.teamabcd, t.id] %>
    <% end %>
    <%= f.select(:team_id, options_for_select(team_select, team_id)) %>
  </div>
  <div class="field">
    <%= f.label(:contactemail, "Email (Optional)") %><br />
    <%= f.text_field :contactemail %>
  </div>
  <div class="field">
    <%= f.label(:contactphone, "Phone (Optional)")%><br />
    <%= f.text_field :contactphone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
