<h1>Competitors</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Contactemail</th>
    <th>Contactphone</th>
    <th>Team ID</th>
    <th>Team Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitors.each do |competitor| %>
  <tr>
    <td><%= competitor.name %></td>
    <td><%= competitor.contactemail %></td>
    <td><%= competitor.contactphone %></td>
    <td><%= competitor.team_id %></td>
    <% begin %>
        <% @team = Team.find(competitor.team_id) %>
        <td><%= @team.school + " " + @team.teamabcd %></td>
    <% rescue %>
        <%= puts "error" %>
    <% end %>
    <td><%= link_to 'Show', competitor %></td>
    <td><%= link_to 'Edit', edit_competitor_path(competitor) %></td>
    <td><%= link_to 'Destroy', competitor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competitor', new_competitor_path %>
