<p id="notice"><%= notice %></p>

<p>
  <span class="identifier" id="name">Name:</span>
  <%= @competitor.name %>
</p>

<p>
  <span class="identifier" id="email">Email:</span>
  <%= @competitor.contactemail %>
</p>

<p>
  <b>Phone:</b>
  <%= @competitor.contactphone %>
</p>
<p>
    <span class="identifier" id="team_name">Team Name:</span>
    <% @team = Team.find(@competitor.team_id) %>
    <%= link_to(@team) do %>
        <%= @team.school + " " + @team.teamabcd %>
    <% end %>
</p>


<%= link_to 'Edit', edit_competitor_path(@competitor) %> |
