<!DOCTYPE html>
<html>
<head>
  <title>TournamentManager</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <%= javascript_include_tag :defaults, "addrooms", "manualpairing", "amtaballot" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="topbar">
  <div id="usernav">
    <span id="logo">
      <%= link_to "Tabroom", :root %>
    </span>
    <span id="sign_in">
      <% if user_signed_in? %>  
        Signed in as <%= current_user.email %>. Not you?  
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>  
      <% else %>  
        <%= link_to "Sign up", new_user_registration_path %> or  
        <%= link_to "Sign in", new_user_session_path %>  
      <% end %>
    </span>
  </div>
</div>
<div id="container">

<%= yield %>

</div>
</body>
</html>
